/* Header.css */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 68px;
  margin: 20px;
}

header img {
  height: 36px;
}

.nav-header ul {
  display: flex;
  list-style: none;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.nav-header ul li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: 'Montserrat';
  padding-bottom: 5px;
}

.nav-header ul li a.active {
  text-decoration: underline; 
} 

.nav-header ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
}



@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  header img {
    width: 120px; 
  }

  .nav-header ul {
    display: flex;
    gap: 15px;
  }

  .nav-header a {
    font-size: 12px;
    text-transform: uppercase; 
  }
}